{% extends "base.html" %}


{% block left_sidebar_extra_content %}

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Saved reports</span>
  <a class="d-flex align-items-center text-muted" href="#">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Current month
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Last quarter
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Social engagement
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Year-end sale
    </a>
  </li>
</ul>
{% endblock %}

{% block app_content %}

<div class="btn-toolbar mb-2 mb-md-0">
  <div class="input-group">
    <div class="input-group-text" id="btnGroupAddon">Thread Control</div>
  </div>
  <div class="btn-group mr-2">
    <button class="btn btn-sm btn-primary" onclick="start_thread();">Start</button>
    <button class="btn btn-sm btn-danger" onclick="stop_thread();">Stop</button>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Messages</h5>
    <div class="card-text">
      <pre class="pre-scrollable bg-light" style="height: 100px;" id="messages">Text
      </pre>
    </div>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}

<script>
function start_thread() {
    $.get("/ajax/start_thread", function(data) {
      //$("#running_projects").html(data.projects);
      //$("#running_queue").html(data.queue);
      document.getElementById("debug").innerHTML = data.msg;
    });
}

function stop_thread() {
      $.get("/ajax/stop_thread", function(data) {
        //$("#running_projects").html(data.projects);
        //$("#running_queue").html(data.queue);
        document.getElementById("debug").innerHTML = data.msg;
    });
}
</script>

{% endblock %}
